*{
    margin:0;
}

#header{
    font-size: 30px;
}

.titulo{
    background-color: aqua;
    opacity: 50%;
}
#titulo-texto{
    text-align: center;
    color:red;
    opacity: 100%;
}

.option-header{
    text-decoration: none;
    text-align: right;
    color:blue;
    border: 3px solid yellow;
    margin-left: 50px;
    padding: 10px;
    background-color: white;
}

#navbar{
    display:flex;
    justify-content:flex-end;
}
.option-header:hover{
    background-color: blue;
    color:yellow;
}
#foto-de-fondo{
    height:700px;
    position: absolute;
    z-index:-5;
}
p{
    color:yellow;
    font-size: 30px;
}
#contenedor-fotos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}
img{
    width:200px;
}
.tarjeta-foto{
    border:3px solid black;
    color: black;
    text-align: center;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity:50%;
    transition: opacity 500ms;
}
.tarjeta-foto p{
    color:black;
}
.tarjeta-foto:hover{
    opacity:100%;
} 